@import url(./init.css);
@import url(./layout.css);
@import url(./index.css);
@import url(./control.css);
/* @import url(./org.css); */
@import url(./top.css);
@media print {
    @page {
        size: A4;
    }
}

* {
    color: #000000 !important;
}

.orgEq {
    position: relative;
    display: block;
    width: 210mm;
    height: 297mm;
    transform: scale(0.3);
}

html, body {
    background-color: #FFF !important;
}