#quizContainer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #e6e6e6;
    background: #42275a;
    background: -webkit-linear-gradient(to right, #dbdbdb, #42275a);
    background: linear-gradient(to right, #734b6d, #42275a);
}

.btn {
    display: none;
    position: absolute;
    cursor: pointer;
}

.btn_start {
    display: none;
    top: 80%;
    left: 50%;
}

.btn_check {
    top: 400px;
    right: 100px;
}

.btn_next {
    top: 360px;
    right: 100px;
}

.btn_result {
    display: none;
    top: 430px;
    right: 20px;
}

.header_quiz {
    position: relative;
}

.quizEq {
    display: none;
    position: absolute;
    top: 40%;
    left: 48%;
    width: 1100px;
    height: 450px;
}

.quizEq1 {
    display: block;
}

.quiz_titleWrap {
    display: table;
}

.quiz_title_scoringImg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.quiz_title {
    display: table-cell;
    vertical-align: middle;
}

.quiz_subTitle {
    width: 80%;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px 10px;
    border: 1px solid #5d5d5d;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
    word-break: keep-all;
    background-color: #7d467d;
}

.quiz_choiceBox {
    width: 80%;
    margin: 30px auto;
}

.choice {
    position: relative;
    display: table;
    font-weight: 700;
    cursor: pointer;
    padding: 5px 0;
}

.choice>.choiceImg {
    display: table-cell;
    padding-right: 15px;
    vertical-align: middle;
}

.choice.on:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    display: block;
    width: 25px;
    height: 26px;
    background: url(../img/quiz/check.png) 0 0 no-repeat;
}

.choice>.choiceSpan {
    display: table-cell;
    font-size: 20px;
    vertical-align: middle;
}

/* OX */

.btn_answer_wrap {
    width: 548px;
    margin: 0 auto;
}

.btn_type_1 {
    width: 264px;
    height: 264px;
    cursor: pointer;
    border-radius: 60px;
    background-color: #848484;
}

.btn_type_1.on {
    background-color: #FFF;
}

.btn_answer_X {
    margin-left: 20px;
}

.explanationBox {
    display: none;
    position: absolute;
    top: 500px;
    left: 0;
    width: 100%;
    height: 170px;
    font-weight: 800;
    font-size: 24px;
    font-weight: 800;
    color: #999999;
    padding: 10px 50px;
    box-sizing: border-box;
    background-color: #333;
}

.comment_right, .comment_exp {
    display: table;
}

.comment_right>span.title, .comment_exp>span.title {
    padding-right: 20px;
}

.comment_right>span, .comment_exp>span {
    display: table-cell;
    vertical-align: top;
}

.comment_scroll {
    display: inline-block;
    max-height: 118px;
    overflow-y: auto;
}

.inputWrap {
    position: relative;
    width: 400px;
    height: 60px;
    margin: 0 auto;
    border-radius: 5px;
    background: #222222;
}

.inputLabel {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 24px;
    font-weight: 800;
    color: #555555;
    transition: all 0.3s;
}

.inputLabel.on {
    top: 5px;
    font-size: 12px;
}

.choice_input {
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'PAY';
    line-height: 50px;
    color: #DEDEDE;
    padding-top: 10px;
    text-indent: 10px;
    resize: none;
    border: none;
    overflow-y: hidden;
    white-space: nowrap;
    background: transparent;
}

.choice_input:focus {
    outline: none;
}

.inputFocusLine {
    position: relative;
    bottom: 10px;
    width: 95%;
    margin: 0 auto;
    transition: all 0.3s;
    border-radius: 5px;
    border-bottom: 2px solid #555555;
    transform: scaleX(0);
}

.inputFocusLine.on {
    transform: scaleX(1);
}